<h1>New Post</h1>

<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div> 
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <br>
    <%= f.text_area :description %>
  </div>

  <%= f.submit %>
<% end %>